<html>

<head>
    <style>
        .login-card{
            margin-bottom: 10px;
        }
        .icon-badge {
            width: 50%;
        }
    </style>
</head>

<body>
    <div class="row center">
        <div class="col m2" />
        <div class="col s12 m8">
            <div class="card white darken-1">
                <div class="container">
                    <span class="card-title">Login Form</span>
                    <br/>
                    <img src="resources/images/user.png" class="icon-badge"/>
                    <div class="row">
                        <form class="col s12">
                            <div class="row ">
                                <div class="input-field col s12">
                                    <input id="username" type="text" class="validate">
                                    <label for="username">Username</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password" type="password" class="validate">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">

                                </div>
                            </div>
                            <button class="btn waves-effect waves-light login-card" type="submit" name="action">Submit<i class="material-icons right">send</i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col m2" />
        </div>
</body>

</html>