<!DOCTYPE html>
<html>

<head>
    <title>Supreme Court Purpose</title>
    <script src="javascript/purpose.js"></script>
</head>

<body>
    <div id="content" class="container">
        <h2>Purpose</h2>
        <hr/>
    </div>
    
    <div class="parallax-container">
        <div class="parallax">
            <img src="resources/images/inside.jpg">
        </div>
    </div>
    <div id="content" class="container">
        <p>
            The New Zealand Supreme Court was established by statute only in 2003. It replaced the Privy Council in England as New Zealand's
            highest court. Two years before its establishment, the New Zealand Court of Appeal was found by the Privy Council
            in Taito v Q [2002] UKPC 15 to have engaged in systemic abuses of due process by dismissing as many as 1,500
            appeals on an ex-parte basis over the previous 10 years, sometimes on the signature of a court registrar, dismissals
            often given only in handwritten notations on the court file. The public have been told that despite the Court
            of Appeal judges being found culpable for these due process breaches being the first appointees to the new Supreme
            Court, the abuses have ceased and the process is more transparent. It is true that New Zealand Supreme Court
            judgments are available on-line, as are the hearing transcripts. But it is also true there are a number of recalls
            sought against curt dismissals on the basis legal submissions are overlooked or ignored. The most famous of these
            is the 2010 case of Saxmere v Disco, which required two recall applications to the Supreme Court before the bench
            would concede a fellow Supreme Court judge (Bill Wilson) presided where he had a financial conflict with counsel
            when on the Court of Appeal. Justice Bill Wilson eventually resigned in this scandal which former President of
            the Bar James Farmer had privately appealed to Sir Ed Thomas to keep secret, stating if this matter is probed,
            it will be likely to bring down Sian (the Chief Justice) as well as Bill. The matter was never probed. It is
            widely accepted the second recall was successful only because the story had become big news by that stage. The
            Supreme Court judgments had repeatedly not addressed the evidence until that evidence became public. By newzealandsupremecourt.co.nz
            providing the submissions behind the judgments, lawyers from New Zealand and around the Commonwealth can get
            a deeper view into the official workings of these five judges and the registrars. As Supreme Court Justice John
            McGrath said in his 2012 submissions to Parliament where he claimed to speak for ALL the judges in New Zealand
            in opposing the Register of Pecuniary Interests of Judges Bill on the basis the judicial process in New Zealand
            was already transparent, The openness of the judicial process reduces the prospect of misconduct and of it going
            unremarked and unchecked. Sunshine is the best disinfectant. We agree with the sunshine part.
        </p>
    </div>

</body>

</html>